.ec-nav.sticky-top {
  border-bottom: 1px solid #f1f3f7;
}
.site-header.bg-dark {
  background-color: #4d148c !important;
  color: #fff !important;
}

a.active,
a:active,
a:focus,
a:hover {
  color: #ff6600;
}
.logo-default {
  width: 75px;
  height: 75px;
  display: block;
}
.logo-default > img {
  height: 75px;
}
.nav-item__has-dropdown .dropdown-menu {
  border-color: #ff6600;
}
.rounded.bg-primary {
  background-color: #ff6600 !important;
}
.btn-outline-primary {
  border-color: #4d148c;
  color: #4d148c;
}
.btn-outline-primary.active,
.btn-outline-primary .show > .dropdown-toggle,
.btn-outline-primary:active,
.btn-outline-primary:hover {
  background-color: #4d148c !important;
  border-color: #4d148c !important;
  color: #fff !important;
}
.ec-checkbox > input[type='checkbox']:checked ~ .ec-checkbox__control {
  background: #ff6600;
  border-color: #ff6600;
}
.text-primary {
  color: #4d148c !important;
}
.carousel .hover\:primary:hover,
.hover\:primary:hover {
  background: #ff6600 !important;
}
.list-style-icon > li:before {
  color: #ff6600;
}
.btn-primary {
  background-color: #4d148c !important;
  border-color: #4d148c !important;
}

.btn-primary.active,
.btn-primary .show > .dropdown-toggle,
.btn-primary .show > .dropdown-toggle.dropdown-toggle-split,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
  background: #35148c !important;
  border-color: #35148c !important;
}
h2 {
  color: #ff6600;
}
.input-group--focus.state--focus *,
.form-control:focus {
  border-color: #4d148c;
}
.badge-primary,
.bg-primary.height-3 {
  background: #ff6600 !important;
}
.footer-logo {
  width: 100px;
}
.shopping-cart {
  transform: translateX(-5px) translatey(-10px);
}

@media (max-width: 991px) {
  .nav-item__has-dropdown:hover > .dropdown-menu,
  .nav-item__has-megamenu:hover > .dropdown-menu {
    display: block;
    border-top: 0px none;
  }
  .hamburger {
    background: #ff6600;
  }
}
